
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  max-width: 800px;
  height: 60px;
}

#head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

#head h2 {
  font-weight: 1000;
}

.right-logo {
  display: flex;
  margin-left: auto;
}

.right-logo li {
  margin: 0 10px;
}

.right-logo a {
  color: black;
  font-weight: 1000;
  font-size: 14px;
}

.main-visual  img {
  width: 100%;
  background-size: cover;
}

.title {
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
}

.constructions {
  display: flex;
}

.constructions p {
  margin: 0;
  font-size: 12px;
  width: 50%;
}

.construction-img {
  width: 50%;
}

.construction-img img {
  max-width: 100%;
}


.constructions p {
  margin: 0 10px;
}

.list-contents {
  display: flex;
}

.content img {
  max-width: 100%;
}

.content p {
  font-size: 12px;
  font-weight: bold;
}

.content {
  margin: 0 20px;
}

#contact {
  text-align: center;
}

#contact h2 {
  margin: 20px 0;
  font-weight: bold;
}

#contact P {
  font-size: 0.5rem;
}

.do-btn {
  margin: 20px 0 50px 0;
}

.do-btn button {
  background-color: rgb(247, 85, 85);
  color: white;
  padding: 20px 100px;
  border-radius: 2px;
}

#contact input {
  border: solid 1px gray;
  border-radius: 25px;
  outline: none;
  padding: 5px;
}

footer {
  border-top: solid 1px gray;
  text-align: right;
  font-size: 0.5rem;
}

footer p {
  margin: 15px 0;
}

@media screen and (max-width: 480px) {
  #head {
    justify-content: none;
    flex-flow: column;
  }

  .right-logo {
    text-align: center;
    margin: 0 auto;
  }
  
  .left-logo {
    text-align: center;
    margin: 0 auto;
  }

  .constructions {
    flex-flow: column;
  }

  .constructions p {
    margin-top: 20px;
  }

  .list-contents {
    flex-flow: column;
  }

  .content {
    margin: 10px;
  }

}

